// Write your overrides
.login-background {
	background-image: url('bg-login.png') !important;
  position: relative !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-repeat: no-repeat !important;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.line-height-normal {
  line-height: normal;
}
.w-40 {
  width: 40%;
}
.border-radius-8 {
  border-radius: 8px;
}
.bg-white {
  background-color: #fff !important;
}
.v-theme--light .bg-pink {
  background-color: #f7e1e5 !important;
}
.v-theme--light .bg-lightgrey {
  background-color: #ececec !important;
}
.v-theme--light .bg-antiquewhite {
  background-color: #f8eee2 !important;
}
.v-theme--light .bg-lightblue {
  background-color: #d3eef2 !important;
}
.v-text-field__prefix, .v-text-field__suffix {
  opacity: 1 !important;
}
.v-list-item.v-list-item--link a {
	color: inherit;
}
