// Write your overrides
.fw-500 {
  font-weight: 500 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.line-height-normal {
  line-height: normal;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.text-h4 {
  font-size: 1.2rem !important;
}
.w-40 {
  width: 40%;
}
.border-radius-8 {
  border-radius: 8px;
}
.text-black {
  color: #404040 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-light-blue {
  background-color: #e6f6f8 !important;
  color: rgba(47,43,61,.9) !important;
}
.v-snackbar__actions {
  margin-inline-end: 8px;
}
.v-snackbar--variant-tonal.text-success .v-snackbar__underlay {
  background: #c0f5d8 !important;
}
.v-snackbar--variant-tonal.text-error .v-snackbar__underlay {
  background: #ffc8ca !important;
}
.v-snackbar--variant-tonal .v-snackbar__underlay {
  opacity: 1 !important;
}

.v-theme--light {
  --swiper-navigation-color: #8e8e8e;
}
.v-theme--light .bg-pink {
  background-color: #f7e1e5 !important;
}
.v-theme--light .bg-lightgrey {
  background-color: #ececec !important;
}
.v-theme--light .bg-antiquewhite {
  background-color: #f8eee2 !important;
}
.v-theme--light .bg-lightblue {
  background-color: #d3eef2 !important;
}
.v-text-field__prefix, .v-text-field__suffix {
  opacity: 1 !important;
}
.v-list-item.v-list-item--link a {
	color: inherit;
}
.v-card-actions.card-img-action {
  position: absolute;
  bottom: 5%;
  width: 100%;
}
.v-card-actions.card-img-action > button {
  background-color: rgb(153 153 153) !important;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.v-card-actions.card-img-action > button:hover {
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.v-data-table table thead tr th:first-child,
.v-data-table table thead tr td:first-child,
.v-data-table table tbody tr th:first-child,
.v-data-table table tbody tr td:first-child,
.v-table table thead tr th:first-child,
.v-table table thead tr td:first-child,
.v-table table tbody tr th:first-child,
.v-table table tbody tr td:first-child {
  padding-inline-start: 0 !important;
}
.v-data-table table thead tr th:last-child,
.v-data-table table thead tr td:last-child,
.v-data-table table tbody tr th:last-child,
.v-data-table table tbody tr td:last-child,
.v-table table thead tr th:last-child,
.v-table table thead tr td:last-child,
.v-table table tbody tr th:last-child,
.v-table table tbody tr td:last-child {
  padding-inline-end: 0 !important;
}
.v-text-field__suffix {
  padding-left: var(--v-field-padding-end);
  padding-right: var(--v-field-padding-end);
  background-color: rgba(var(--v-global-theme-primary), 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  color: #fff !important;
  font-weight: 600;
}
.app-text-field.tree-select .v-input__control {
  display: none;
}
body .app-text-field.tree-select .v-label:has(+ .vue-treeselect + .v-input .v-field.v-field--error) {
  color: rgb(var(--v-theme-error));
}
body .app-text-field.tree-select .vue-treeselect:has(+ .v-input .v-field.v-field--error) > .vue-treeselect__control {
  border: 2px solid rgb(var(--v-theme-error));
}
body .v-tabs.v-tabs-pill .v-tab--selected.text-primary {
  background-color: #fff;
  color: rgb(0 0 0) !important;
}
.v-tabs.v-tabs-pill .v-tab.v-btn:not(.v-tab--selected):hover {
  background-color: rgba(255,255,255,.16);
  color: #fff;
}
.v-tabs.v-tabs-pill .v-tab.v-btn {
  border-radius: 15px !important;
  margin: 6px;
  color: #eaeaea;
}
.v-tabs.v-tabs-pill .v-tab--selected.text-primary {
  box-shadow: none;
}
.v-tabs.v-tabs-pill.v-slide-group,
.v-tabs.v-tabs-pill .v-slide-group__container {
  padding: 0;
  margin: 0;
  height: 50px;
  background: linear-gradient(270deg, rgba(var(--v-global-theme-primary), 0.7) 0%, rgb(var(--v-global-theme-primary)) 100%) !important;
  border-radius: 15px;
}
.border-dashed-primary {
  border: 2px dashed rgba(var(--v-global-theme-primary), .7);
}

@media (min-width: 992px) {
  .v-tabs.v-tabs-pill.v-slide-group,
  .v-tabs.v-tabs-pill .v-slide-group__container {
    width: min-content;
  }
}
